@model StockModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="text-center">
            <form asp-controller="Home" asp-action="StockOverview" method="post">
                Search:
                <input style="color:#000000;" asp-for="StockTicker">
                <input type="range" min="0" max="25" value="5" asp-for="GrowthRate">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="row" style="padding-top:2em; padding-left:15px; padding-right:15px;">
        <h4>Recent</h4>
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Ticker Tape</span></a> by TradingView</div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
                {
                    "symbols": [
                        @Html.Raw(ViewData["watchlist"].ToString())
                    ],
                        "colorTheme": "dark",
                            "isTransparent": false,
                                "displayMode": "adaptive",
                                    "locale": "en"
                }
            </script>
        </div>
        <!-- TradingView Widget END -->
    </div>
    <div class="row" style="padding-top:2em;">
        <div class="col-md">
            <h4>Indices</h4>
            <!-- TradingView Indexes BEGIN -->
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/indices/" rel="noopener" target="_blank"><span class="blue-text">Indices</span></a> by TradingView</div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
                    {
                        "colorTheme": "dark",
                            "dateRange": "12m",
                                "showChart": true,
                                    "locale": "en",
                                        "width": "100%",
                                            "height": "600",
                                                "largeChartUrl": "",
                                                    "isTransparent": false,
                                                        "plotLineColorGrowing": "rgba(33, 150, 243, 1)",
                                                            "plotLineColorFalling": "rgba(33, 150, 243, 1)",
                                                                "gridLineColor": "rgba(240, 243, 250, 1)",
                                                                    "scaleFontColor": "rgba(120, 123, 134, 1)",
                                                                        "belowLineFillColorGrowing": "rgba(33, 150, 243, 0.12)",
                                                                            "belowLineFillColorFalling": "rgba(33, 150, 243, 0.12)",
                                                                                "symbolActiveColor": "rgba(33, 150, 243, 0.12)",
                                                                                    "tabs": [
                                                                                        {
                                                                                            "title": "Indices",
                                                                                            "symbols": [
                                                                                                {
                                                                                                    "s": "OANDA:SPX500USD",
                                                                                                    "d": "S&P 500"
                                                                                                },
                                                                                                {
                                                                                                    "s": "OANDA:NAS100USD",
                                                                                                    "d": "Nasdaq 100"
                                                                                                },
                                                                                                {
                                                                                                    "s": "FOREXCOM:DJI",
                                                                                                    "d": "Dow 30"
                                                                                                }
                                                                                            ],
                                                                                            "originalTitle": "Indices"
                                                                                        }
                                                                                    ]
                    }
                </script>
            </div>
            <!-- TradingView Indexes END -->
        </div>
        <div class="col-md">
            <h4>Movers</h4>
            <!-- TradingView Movers BEGIN -->
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/stocks-usa/market-movers-gainers/" rel="noopener" target="_blank"><span class="blue-text">Stock Market</span></a> by TradingView</div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-hotlists.js" async>
                    {
                        "colorTheme": "dark",
                            "dateRange": "12m",
                                "exchange": "US",
                                    "showChart": true,
                                        "locale": "en",
                                            "largeChartUrl": "",
                                                "isTransparent": false,
                                                    "width": "100%",
                                                        "height": "600",
                                                            "plotLineColorGrowing": "rgba(33, 150, 243, 1)",
                                                                "plotLineColorFalling": "rgba(33, 150, 243, 1)",
                                                                    "gridLineColor": "rgba(240, 243, 250, 1)",
                                                                        "scaleFontColor": "rgba(120, 123, 134, 1)",
                                                                            "belowLineFillColorGrowing": "rgba(33, 150, 243, 0.12)",
                                                                                "belowLineFillColorFalling": "rgba(33, 150, 243, 0.12)",
                                                                                    "symbolActiveColor": "rgba(33, 150, 243, 0.12)"
                    }
                </script>
            </div>
            <!-- TradingView Movers END -->
        </div>
        <div class="col-md">
            <h4>Calendar</h4>
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/currencies/economic-calendar/" rel="noopener" target="_blank"><span class="blue-text">Economic Calendar</span></a> by TradingView</div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-events.js" async>
                    {
                        "colorTheme": "dark",
                            "isTransparent": false,
                                "width": "100%",
                                    "height": "600",
                                        "locale": "en",
                                            "importanceFilter": "-1,0,1"
                    }
                </script>
            </div>
            <!-- TradingView Widget END -->
        </div>
    </div>
</div>