@model StockModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">  
    <form asp-controller="Home" asp-action="StockOverview" method="post">
        Stock ticker:
        <input asp-for="StockTicker">
        <button type="submit">Load</button>
    </form>
</div>
