@{
    ViewData["Title"] = "About Simple Valuation";
}
<h1>@ViewData["Title"]</h1>

<p>
    Simple Valuation is a web application developed by Lucas Magno, Dylan Richards, Tien Le, and Brian Horan for their CPS 410 capstone project. Simple Valuation is a web application that gives novice investors a financial valuation of specified companies based on revenue in the company’s SEC 10k filings and other valuation metrics. Our goal with this application is to create a tool for novice investors and/or people who are interested in learning more about the stock market that helps the investor make a more informed decision without all the technical jargon that is involved when purchasing and selling stocks. As an aid for these investors’ buying decisions, Simple Valuation provides tools that can be helpful such as real time stock prices, price chart, and financial comparison between companies.
</p>

<h3>The Developers</h3>
<p>Lucas Magno is a senior at Central Michigan University studying Computer Science and Mathematics. He has plans to start his career as an Associate Software Developer at Auto-Owners Insurance after graduating with his Bachelors of Science in May 2020.</p>
<p>Brian Howard </p>
<p>Dylan Richard </p>
<p>Tien Le </p>
