@{
    ViewData["Title"] = "About Simple Valuation";
}

<div class="container">
    <div class="row">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="row">
        <p>
            Simple Valuation is a web application developed by Dylan Richards, Lucas Magno, Brian Horan, and Tien Le for their CPS 410 capstone project. Simple Valuation is a web application that gives novice investors a financial valuation of specified companies based on revenue in the company’s SEC 10k filings and other valuation metrics. Our goal with this application is to create a tool for novice investors and/or people who are interested in learning more about the stock market that helps the investor make a more informed decision without all the technical jargon that is involved when purchasing and selling stocks. As an aid for these investors’ buying decisions, Simple Valuation provides tools that can be helpful such as real time stock prices, price chart, and financial comparison between companies.
        </p>
    </div>
    <div class="row">
        <h3>The Developers</h3>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <img src="~/Images/dylan.jpg" height="250"/>
            <p><strong>Dylan Richards</strong> is a rising junior at CMU studying Computer Engineering and Computer Science. He has accepted an internship with 3M for the summer of 2020.</p>
        </div>
        <div class="col-lg-3">
            <img src="~/Images/lucas.jpg" height="250"/>
            <p><strong>Lucas Magno</strong> is a senior at Central Michigan University studying Computer Science and Mathematics. He has plans to start his career as an Associate Software Developer at Auto-Owners Insurance after graduating with his Bachelors of Science in May 2020.</p>
        </div>
        <div class="col-lg-3">
            <p><strong>Brian Howard</strong> is pursuing a B.S. in Meteorology and Computer Science. "I currently plan to graduate in spring of 2021. After graduation, I intend to attend graduate school and pursue a M.S. in Meteorology with a concentration in Numerical Weather Prediction and Atmospheric Modeling. Though uncertain, my goal is either to get a PhD. In Meteorology or to work in Atmospheric Modeling, or research. I am currently working on research to do with Severe hail reporting done on social media. Outside of classes, I am the Vice President of eSports club at CMU and coordinator of the CMU Overwatch teams. Outside of school, I enjoy disc golfing, storm chasing, and hanging out with friends."</p>
        </div>
        <div class="col-lg-3">
            <p><strong>Tien Le</strong> is a senior Computer Science student at Central Michigan University. "I like to cook, travel and code. I have traveled to many different states in the US and I wish I would travel to all 50 states soon.  In my free time, I like to experiment with new food recipes and work on improving my coding skills. After graduation, my goal is to get a job in web/mobile app development with an emphasis on business solutions. My interest field in Computer Science is Natural Language Processing and I would go back to school in the near future to learn and do research on this field."</p>
        </div>
    </div>
</div>